<div class="container text-center" ng-controller="loginCtrl">
	FB App Id: {{appId}}
	<br>
	FB App Secret: {{appSecret}}

	<table id="achievementsTable">
		<thead>
			<tr>
				<th>id</th>
				<th>image</th>
				<th>title</th>
				<th>description</th>
				<th>points</th>
				<th>order</th>
				<th>updated</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in achievements">
				<td><a href="{{a.url}}" target="_blank">{{a.id}}</a></td>
				<td><a href="{{a.image[0].url}}" target="_blank"><img class="achievement-image" src="{{a.image[0].url}}"></a></td>
				<td>{{a.title}}</td>
				<td>{{a.description}}</td>
				<td>{{a.data.points}}</td>
				<td>{{a.context.display_order}}</td>
				<td>{{a.updated_time}}</td>
			</tr>
			<tr>
				<td>Total Achievements</td>
				<td>{{countAchievements()}}</td>
				<td></td>
				<td>Total points</td>
				<td>{{totalPoints()}}</td>
				<td colspan="2"></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>id</th>
				<th>image</th>
				<th>title</th>
				<th>description</th>
				<th>points</th>
				<th>order</th>
				<th>updated</th>
			</tr>
		</tfoot>
	</table>
	
	
	<br>
	<a href="#/achievements/{{fbAppId}}" class="btn btn-primary"><span class="glyphicon glyphicon-star"></span> Achievements</a>
	<a ng-click="resetScores()" class="btn btn-danger"><span class="glyphicon glyphicon-tower"></span> Reset Scores</a>
	
	<div class="message">{{message}}</div>	
</div>